.article-img-container {
  display: flex;
  justify-content: center;
}

.article-subhead {
  color: $primary-color;
  padding: 15px;
}

.article-img {
  width: 90%;
  height: 30%;
}

.article-top-bar {
  display: flex;
  margin: 40px;
}
.article-top-data {
  margin-right: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  width: 70%;
  height: 100px;
}

.article-category {
  border-top: 4px solid black;
  padding: 15px;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 30px;
  width: 20%;
}

.article-content {
  display: flex;
  margin: 50px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  width: 90%;
}

.content-text {
  line-height: 20px;
}
