%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  border: none;
  border-radius: 20px;
  width: 110px;
  height: 35px;
}

.btn-subscribe {
  @extend %btn;
  background-color: $secondary-color;
  color: white;

  &:hover {
    background-color: $third-color;
  }
}

.btn-create-account {
  @extend %btn;
  display: inline-block;
  width: 150px;
  background-color: $third-color;
  color: white;
  border-radius: 2px;
}

.btn-footer {
  @extend %btn;
  background-color: white;
  color: $secondary-color;

  &:hover {
    background-color: $secondary-color;
    color: white;
  }
}

.btn-dropdown {
  @extend %btn;
  background-color: white;
  color: $footer-color;

  &:hover {
    background-color: rgb(221, 220, 220);
  }
}

.login {
  display: flex;
  align-items: center;

  .sign-in {
    border-left: solid 1px $border-color;
    padding: 15px;
    margin-left: 15px;
  }
}
