@media (max-width: 900px) {
  @mixin mobile-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @mixin mobile-no-display {
    display: none;
  }

  @mixin mobile-2 {
    display: flex;
    flex-direction: column;
  }

  .media-preview {
    @include mobile-2;
  }

  .regimg-container {
    @include mobile-no-display;
  }

  .register-container {
    @include mobile-2;
  }

  .art-display {
    @include mobile-1;
  }

  .articleCSS {
    @include mobile-1;
  }

  .banner-container {
    @include mobile-no-display;
  }

  .article-top-bar {
    @include mobile-1;
  }
}
